.Mojastrona {
    text-align: center;
    color: white;
}
body{
    background-color: rgb(214, 164, 246);
    border: 3px solid white;
}
#Opis{
    text-align: center;
    color: white;
    
}
.Tekst{
    text-align: center;
    color: white;
}